<div *ngIf="post" class="post-container">
  <div class="post-header">
    <button mat-icon-button class="back-button" routerLink="/articles">
      <mat-icon>arrow_back</mat-icon>
    </button>

    <h1>{{ post.title }}</h1>
  </div>
  <div class="post-main">
    <div class="post-details">
      <span>{{ post.createdAt | date : "dd/MM/yyyy HH:mm" }}</span>
      <span>{{ post.author }}</span>
      <span>{{ post.topic }}</span>
    </div>

    <p class="post-content">
      {{ post.content }}
    </p>

    <hr />

    <h3>Commentaires</h3>
    <div class="comments-container">
      <div class="comment" *ngFor="let comment of comments">
        <span class="comment-author">{{ comment.authorName }}</span>
        <p class="comment-content">{{ comment.content }}</p>
      </div>
    </div>

    <form
      [formGroup]="commentForm"
      (ngSubmit)="addComment(post.id)"
      class="comment-form"
    >
      <div class="comment-input-container">
        <mat-form-field appearance="outline" class="comment-field">
          <mat-label>Écrivez ici votre commentaire</mat-label>
          <textarea matInput formControlName="content"></textarea>
        </mat-form-field>
        <button mat-icon-button color="primary" type="submit" class="send-btn">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
