.post-container {
  margin: 1.5rem;

  .back-button {
    position: relative;
    left: auto;
    top: auto;
  }

  .post-header {
    display: flex;
    align-items: center;
    gap: 1rem; /* espace entre l’icône et le titre */
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 0;
    }
  }

  .post-main {
    margin: 0 3rem 0 3rem;
  }

  .post-details {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 1rem;
    span {
      margin-right: 5rem;
    }
  }

  .post-content {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  hr {
    margin: 2rem 0;
  }

  .comments-container {
    margin-top: 1rem;
    margin: 3rem;

    .comment {
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;

      .comment-author {
        font-weight: bold;
        color: #333;
        margin-bottom: 0.25rem;
        min-width: 80px;
        white-space: nowrap;
      }

      .comment-content {
        background-color: #f0f0f0;
        padding: 1rem;
        border-radius: 12px;
        color: #444;
        margin: 0;
        flex: 1;
      }
    }
  }

  .comment-form {
    .comment-input-container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 80%;
      margin: 0 auto;
      gap: 0.5rem;
    }

    .comment-field {
      flex: 1;
    }

    .send-btn {
      color: #7e61c9;
      flex-shrink: 0; /* Le bouton conserve sa taille initiale */
      display: flex;
      align-items: center;
      padding-bottom: 24px;
    }
  }
}
@media (max-width: 725px) {
  .comments-container {
    margin-top: 1rem;
    margin: 0 !important;
  }
  .comment {
    flex-direction: column;
    align-items: flex-start;

    .comment-content {
      background-color: #f0f0f0;
      border-radius: 12px;
      color: #444;
      margin: 0;
      flex: 1;
      width: calc(100vw - 5rem); /* Ajuste la largeur pour le mobile */
    }

    .comment-author {
      margin-bottom: 0.5rem;
    }
  }
  .post-main {
    margin: 0 !important;
  }
  .comment-form {
    .comment-input-container {
      max-width: 100% !important;
      margin: 0 auto !important;
    }
    
  }
}
