/* Top navigation bar styling */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;

  .logo {
    height: 50px;
  }

  .navbar-left {
    margin-top: 1rem;
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: auto;

    a {
      text-decoration: none;
      font-size: 16px;
      color: #000000;
    }
    .active-link {
      color: #7e61c9 !important; 
      font-weight: bold; 
    }
    .logout {
      color: #d32f2f; 
      font-weight: bold;
      cursor: pointer; 
      text-decoration: none;
    }
  }
}

/* Profile icon styling inside the navbar */
.profile-button {
  display: flex;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #d9d9d9;
  font-size: 35px;
}

/* Container for the side navigation and main content */
.sidenav-container {
  padding-top: 64px;
  background-color: #ffffff;
  position: relative;
}

/* Ensures main content takes the full height minus the navbar */
.sidenav-content {
  min-height: calc(100vh - 64px);
}

/* Side navigation menu styling */
.sidenav {
  width: 250px;
  padding-top: 64px !important;
  background-color: #ffffff;
  padding: 1rem;
  z-index: 1000;
  position: fixed;

  a {
    display: block;
    margin: 1rem 0;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    color: #000000;
  }

  button[mat-icon-button] {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #d9d9d9;
  }

  .logout {
    color: #d32f2f; 
    font-weight: bold;
    cursor: pointer; 
    text-decoration: none;
  }
}

/* Show burger menu button on mobile */
.menu-button {
  display: none; 
}
/* Responsive behavior for screens smaller than 768px */
@media (max-width: 768px) {
  .menu-button {
    display: inline-flex; 
    margin-left: auto;
  }

  /* Hide desktop-only elements on mobile */
  .desktop-only {
    display: none !important; 
  }
}
