
<div class="mobile-logo-container mobile-only">
  <button mat-icon-button class="back-button" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <img src="/assets/logo_p6.png" alt="logo" class="logo" />
</div>

<div class="sign-up-page">
  <button mat-icon-button class="back-button desktop-only" routerLink="/">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <h2>Inscription</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Nom d’utilisateur</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Adresse e-mail</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Mot de passe</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
      />
    </mat-form-field>

    <button mat-raised-button type="submit" class="submit-btn">
      S'inscrire
    </button>
  </form>
</div>
